<nav>
  <ul>
    <li><%= link_to 'All Customers', root_path %></li>
    <li><%= link_to 'Alphabetized Customers', customers_alphabetized_path %></li>
    <li><%= link_to 'Missing Email Customers', customers_missing_email_path %></li>
  </ul>
</nav>